<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">events</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input type="text" placeholder="search">
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let event of events">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>
                <a href="events/{{event.id}}">
                  <b>{{event.name}}</b>
                  <ion-badge slot="start" color="secondary">
                    {{event.type}}
                  </ion-badge>
                </a>
              </ion-card-title>
            </ion-card-header>
          </ion-col>
          
          <ion-col size="4">

          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>location: {{event.location}} </ion-label><br>
        </ion-item>

        <ion-item>
          <ion-label>description: {{event.description}} </ion-label><br>
        </ion-item>
        <ion-item>
          <ion-label>date: {{event.date}} </ion-label>
        </ion-item>
        
      </ion-grid>
    </ion-card>
  </ion-list>

  <ion-fab *ngIf="appStorage.getItem('role')==='artisan' || appStorage.getItem('role')==='admin'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/events/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
