<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>workshop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" placeholder="search">
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-list>
    <ion-card *ngFor="let workshop of workshops">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>
                <a href="/workshop">
                  <b>{{workshop.title}}</b>
                </a>
              </ion-card-title>
              <ion-label>description: {{workshop.description}}</ion-label><br>
              <ion-label>date: {{workshop.date}} </ion-label>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-button color="medium" href="/workshop/{{workshop.id}}">Details</ion-button>
          <ion-button color="secondary" *ngIf="appStorage.getItem('role')==='artisan' || appStorage.getItem('role')==='admin'" href="/workshop/{{workshop.id}}/edit">Edit</ion-button>
          <ion-button color="danger" *ngIf="appStorage.getItem('role')==='artisan' || appStorage.getItem('role')==='admin'" (click)="delete(workshop.id)">Delete</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  <ion-fab *ngIf="appStorage.getItem('role')==='artisan' || appStorage.getItem('role')==='admin'"
       vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/workshop/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
