<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-card-title>{{user?.fullname}}</ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{user?.role}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user?.email}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user?.region}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>