<ion-header>
  <ion-toolbar>
    <ion-title>Authentifcation</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-grid>
    <ion-col size="6" offsetMd="3">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input type="text" placeholder="foulen">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button expand="block">Se connecter</ion-button>
        <ion-item position="center" routerLink="/signup">
          <ion-label>Don't have an account? <a href="/signup">Créer un compte</a></ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-grid>
