<ion-header>
  <ion-toolbar>
    <ion-title>Authentifcation</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-grid>
    <ion-col sizeMd="6" offsetMd="3">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input [(ngModel)]="loginInfo.username" type="text" placeholder="foulen">
              </ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input [(ngModel)]="loginInfo.password" type="password"></ion-input>
            </ion-item>
            <br><br>
            <ion-button expand="block" (click)="login()">Se connecter</ion-button>
            <br>
            <ion-item lines="none">
              <ion-label>Don't have an account? <a href="/signup">Sign-up</a></ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
